.masthead__header__container {
    padding: 50px;
    background-image: url("../images/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.masthead__header__content {
    border: 2px solid white;
}
.masthead__header__title {
    font-family: "Josefin Sans";
    text-transform: uppercase;
    font-size: 38px;
    padding: 20px;
    color: white;
}
@media (min-width: 1140px) {
    .masthead__header__content {
        max-width: 1140px;
        margin: 0 auto;
    }
}